@font-face {
    font-family: diamonds;
    src: url(../fonts/diamonds.ttf);
}

.icon {
    font-family: diamonds;
    font-size: 4em;
    font-style: normal;
}

.icon-diamond-round:before,
.icon-diamond-Round:before {
    content: "\61";
}

.icon-diamond-princess:before,
.icon-diamond-Princess:before {
    content: "\62"
}

.icon-diamond-asscher:before,
.icon-diamond-Asscher:before {
    content: "\63"
}

.icon-diamond-close:before {
    content: "\64"
}

.icon-diamond-close-circle-fill:before {
    content: "\65"
}

.icon-diamond-close-circle:before {
    content: "\66"
}

.icon-diamond-radiant:before,
.icon-diamond-Radiant:before {
    content: "\67"
}

.icon-diamond-bag:before {
    content: "\68"
}

.icon-diamond-bag-o:before {
    content: "\69"
}

.icon-diamond-bag-o-s:before {
    content: "\6a"
}

.icon-diamond-side:before {
    content: "\6b"
}

.icon-diamond-cushion:before,
.icon-diamond-Cushion:before {
    content: "\6c"
}

.icon-diamond-emerald:before,
.icon-diamond-Emerald:before {
    content: "\6d"
}

.icon-diamond-marquise:before,
.icon-diamond-Marquise:before {
    content: "\6e"
}

.icon-diamond-oval:before,
.icon-diamond-Oval:before {
    content: "\6f"
}

.icon-diamond-pear:before,
.icon-diamond-Pear:before {
    content: "\70"
}

.icon-diamond-heart:before,
.icon-diamond-Heart:before {
    content: "\71"
}

.icon-diamond-ring:before {
    content: "\72"
}

.icon-diamond-setting:before {
    content: "\73"
}

.icon-diamond-brilliance-star:before {
    content: "\74"
}

.icon-diamond-brilliance-logo:before {
    content: "\75"
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}